* {
    box-sizing: border-box;
}

#new-device {
    border-bottom: solid black 2px;
    padding: 5px;
    height: 30px;
}

#navigation {
    display: flex;
    border-bottom: solid black 2px;
    padding: 5px;
    height: 30px;
}

#navigation > button {
    margin-right: 5px;
}

#navigation > input {
    flex-grow: 99;
}

article {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.device-list {
    border-right: solid black 2px;
    overflow: scroll;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.device-list-item {
    background: black;
    margin: 2px;
    border: solid black 5px;
    border-radius: 5px;
    display: inline-block;
    transition: all 300ms;
}

.device-list-item.selected {
    box-shadow: 0 0 10px black;
}

.device-list-item header {
    position: relative;
}

.device-list-item header h2 {
    font-size: 9px;
    background: black;
    color: white;
    margin: 0;
    padding-bottom: 2px;
    text-align: center;
    font-weight: normal;
}

.device-list-item header .fa-cog {
    color: white;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}

.device-list-item.loading .fa-cog {
    display: inline-block;
}

.device-list-item.loading video {
    -webkit-filter: grayscale(100%);
    opacity: 0.7;
}

.device-list-item .video-placeholder {
    display: inline-block;
    position: relative;
}

.device-list-item .video-placeholder .fa-plug {
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -6px;
    margin-top: -6px;
}

.device-wrapper {
    text-align: center;
    flex-grow: 1;
}

.device-preview {
    background: black;
    margin: 5px;
    border: solid black 10px;
    border-radius: 10px;
    display: inline-block;
}

.device-preview:focus {
    outline: 0;
    box-shadow: 0 0 10px black;
}

.device-preview .video-placeholder {
    width: 320px;
    height: 480px;
}