* {
    box-sizing: border-box;
}

#url {
    width: 300px;
}

article {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.device-list {
    padding: 5px;
    border: solid gray 1px;
    overflow: scroll;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.device-list-item {
    background: black;
    margin: 2px;
    border: solid black 5px;
    border-radius: 5px;
    display: inline-block;
    transition: all 300ms;
}

.device-list-item.selected {
    box-shadow: 0 0 10px black;
}

.device-list-item.loading {
    -webkit-filter: grayscale(100%);
    opacity: 0.7;
}

.device-list-item .video-placeholder {
    display: inline-block;
    position: relative;
}

.device-list-item .video-placeholder::after {
    content: 'Not connected';
    color: black;
    background: rgba(255,255,255,0.7);
    padding: 2px;

    position: absolute;
    top: 5px;
    left: 5px;
}


.device-list-item h2 {
    font-size: 9px;
    background: black;
    color: white;
    margin: 0;
    padding-bottom: 2px;
    text-align: center;
}

.device-wrapper {
    text-align: center;
    flex-grow: 1;
}

.device-preview {
    background: black;
    margin: 5px;
    border: solid black 10px;
    border-radius: 10px;
    display: inline-block;
}

.device-preview:focus {
    outline: 0;
    box-shadow: 0 0 10px black;
}